.grid-container {
    display: grid;
    grid-template-areas:
    'header header header nav nav'
    'article article article article article'
    'article article article article article'
    'footer footer footer footer footer';
    grid-gap: none;
    font: oblique normal normal 12px 12px 'goomba'; 
}
.header{
    grid-area: header;
    border-radius: 10% / 105%;
    border: #f28500 solid 2px;
    color: rgb(109, 72, 3, 0.8);
    padding: 22px;
    text-align: center;
    
}
.nav{
    grid-area: nav;
    color: #f28500;
    text-align: center;
}
.article{
    grid-area: article;
    font-family: 'goomba';
    font-style: oblique;
    text-align: center;
    letter-spacing: .5em;
    word-spacing: 1em;
}
.footer{
    grid-area: footer;
    font-family: 'goomba';
    font-style: oblique;
    letter-spacing: .5em;
    word-spacing: 2em;
    text-align: center;
    background-color:rgba(242, 133, 0, 0.5);
}
@font-face{
    font-family: 'goomba';
    src: url('fonts/PxPlus_IBM_BIOS-2y.ttf') format('truetype');
}
.grid-container > .nav > p  > a:link{
    color: #f28500;
    font-family: 'goomba';
    text-decoration: none;
}
.grid-container > .nav > p  > a:visited{
    color: rgba(167, 109, 1, 0.3);
    font-family: 'goomba';
    text-decoration: none;
    
}
.grid-container > .nav > p  > a:hover{
    color: #a75d03;
    font-family: 'goomba';
    text-decoration: underline;
}
.grid-container > .nav > p  > a:active{
    color: #f28500;
    font-family: 'goomba';
    text-decoration: underline;
}
.grid-container > .nav > p{
    font-size: 125%;
    padding: 22px;
    margin-right: -22px;
}
.grid-container > .nav{
    word-spacing: 15px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.grid-container > .article > img{
    border: #f28500 solid 2px;
}
body{
    background-color: #f28500;
    background-image: url("../images/triangles.png" );
    background-repeat: no-repeat;
    background-size: cover;
    
}
.grid-container > .article  > p{
    font-family: 'goomba';
    text-decoration: none;
}
.grid-container > .article  > h2{
    font-family: 'goomba';
    text-decoration: none;
    color: #f28500;
}
.new{
    border: #f28500 solid 2px;
}